#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: flex;
}
.Cart__overlay__container {
  background-color: #ffffff;
  height: 100%;
  width: 450px;
  margin-left: auto;
  margin-right: 0;
}
.cart__overlay__title {
  display: flex;
  align-items: center;
}
.cart__overlay__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.cart__overlay__title p {
  margin-right: 20px;
}
.line {
  height: 1px;
  background-color: rgb(212, 212, 212);
  width: 75%;
  margin-left: 13%;
}
.empty__cart {
  text-align: center;
}
.cart__overlay__product__container {
  padding: 30px;
  height: 340px;
  overflow: scroll;
  overflow-x: hidden;
}
.cart__overlay__bottom p {
  text-align: center;
  font-size: 14px;
}
.checkout__group {
  padding: 0 60px;
}
.total__price {
  display: flex;
  justify-content: space-between;
}
.subtotal {
  font-size: 15px;
}
.total__sub__price {
  color: #2a5cbb;
}
.action__btn__group {
  justify-content: center;
  margin-bottom: 10px;
}
.checkout__btn {
  width: 100%;
  height: 40px;
  background-color: #2a5cbb;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.checkout__btn:hover {
  background-color: #c92736;
}
.view__cart {
  padding: 0 130px;
  cursor: pointer;
}
.view__cart:hover {
  color: #2a5cbb;
}
