
.Cart__overlay__container {
  position: fixed;
  right:0;
  top:0;
  
  background-color: #ffffff !important;
  height: 100% !important;
  width: 450px !important;
  margin-left: auto !important;
  margin-right: 0 !important;
  z-index: 1000;
  transform: translateX(500px);
}
.cart-container {
  height: 60%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.cart__overlay__title {
  display: flex !important;
  align-items: center !important;
}
.cart__overlay__top {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 30px !important;
}
.cart__overlay__title p {
  margin-right: 20px !important;
}
.line {
  height: 1px;
  background-color: rgb(212, 212, 212);
  margin:0px 30px;
}
.empty__cart {
  text-align: center !important;
}
.cart__overlay__product__container {
  padding: 30px !important;
  height: 340px !important;
  overflow: hidden;
}
.cart-container::-webkit-scrollbar {
  display: none;
}
.cart__overlay__bottom p {
  text-align: center !important;
  font-size: 14px !important;
}
.checkout__group {
  padding: 0 60px !important;
}
.total__price {
  display: flex !important;
  justify-content: space-between !important;
}
.subtotal {
  font-size: 15px !important;
}
.total__sub__price {
  color: #2a5cbb !important;
}
.action__btn__group {
  justify-content: center !important;
  margin-bottom: 10px !important;
}
.checkout__btn {
  width: 100% !important;
  height: 40px !important;
  background-color: #2a5cbb !important;
  color: #ffffff !important;
  border: none !important;
  border-radius: 3px !important;
  cursor: pointer !important;
}
.checkout__btn:hover {
  background-color: #c92736 !important;
}
.view__cart {
  padding: 0 130px !important;
  cursor: pointer !important;
}
.view__cart:hover {
  color: #2a5cbb !important;
}
.close__btn {
  background-color: transparent !important;
  border: none !important;
  cursor: pointer !important;
}
.notification {
  text-align: center !important;
}