@import './base/_variables.scss';
@import './base/_base.scss';
@import './components/button';
@import './abstract/mixin';


body {
    padding:0;
    margin:0;
    font-family: 'Inter';
    font-size: 22px;
}
#root {
    width:100vw;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
.Toastify__toast-body div {
    font-size: 17px !important;
}