@import './base/_variables.scss';
@import './base/_base.scss';
@import './components/button';


body {
    padding:0;
    margin:0;
    font-family: 'Inter';font-size: 22px;
    
}
a {
    text-decoration: none;
}