$white: #ffffff;

$primary:  #1F2545;
$secondary: #293052;

$primary-dark-1: #3b1155;
$primary-dark-2: #631c8d;
$primary: #a260ff;
$primary-medium-1: #b870e3;
$primary-medium-2: #ca94ea;
$primary-light-1: #dbb8f1;
$primary-light-2: #eddbf8;
$primary-light-3: #fbf6fd;

$accent-dark-1: #66002b;
$accent-dark-2: #a80046;
$accent: #ff006a;
$accent-medium-1: #ff529a;
$accent-medium-2: #ff80b5;
$accent-light-1: #ffa8cc;
$accent-light-2: #ffd6e7;
$accent-light-3: #fff5f9;

$success-dark-1: #006629;
$success-dark-2: #00a843;
$success: #00dd58;
$success-medium-1: #52ff97;
$success-medium-2: #80ffb2;
$success-light-1: #a8ffcb;
$success-light-2: #d6ffe7;
$success-light-3: #f5fff9;

$info-dark-1: #003c66;
$info-dark-2: #00a843;
$info: #00dd58;
$info-medium-1: #52ff97;
$info-medium-2: #80ffb2;
$info-light-1: #a8ffcb;
$info-light-2: #d6ffe7;
$info-light-3: #f5fff9;

$warning-dark-1: #665500;
$warning-dark-2: #a88c00;
$warning: #ffd600;
$warning-medium-1: #ffe252;
$warning-medium-2: #ffea80;
$warning-light-1: #fff1a8;
$warning-light-2: #fff8d6;
$warning-light-3: #fffdf5;

$error-dark-1: #551111;
$error-dark-2: #8d1c1c;
$error: #d32a2a;
$error-medium-1: #e37070;
$error-medium-2: #ea9494;
$error-light-1: #f1b8b8;
$error-light-2: #f8dbdb;
$error-light-3: #fdf6f6;

$neutral-dark-1: #0c0b0f;
$neutral-dark-2: #2f2b3b;
$neutral-dark-3: #4e4762;
$neutral-medium-1: #766b94;
$neutral-medium-2: #a29ab6;
$neutral-medium-3: #bab5ca;
$neutral-light-1: #d0cddb;
$neutral-light-2: #e9e7ee;
$neutral-light-3: #faf9fb;

$background1: #150313;

$gradient-1: linear-gradient(290.68deg, #210179 13.79%, #4e004a 86.39%);
$gradient-2: linear-gradient(90deg, #631c8d 0%, #a80046 100%);
$gradient-3: linear-gradient(90deg, #942ad3 0%, #ff006a 100%);
$gradient-4: linear-gradient(290.68deg, #942ad3 13.79%, #ff7fb5 86.39%);
$gradient-5: linear-gradient(90deg, #ca94ea 0%, #ff006a 100%);

$space1: 2px;
$space2: 4px;
$space3: 8px;
$space4: 12px;
$space5: 16px;
$space6: 24px;
$space7: 32px;
$space8: 48px;
$space9: 56px;
$space10: 64px;
$space11: 96px;
$space12: 128px;
$space13: 160px;

$bp-large: 1440px;